* {
  margin: 0;
  padding: 0;
}

body {
  width: 600px;
  height: 600px;
  background-color: green;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  transition: 0.5s;
  width: 300px;
  height: 300px;
  margin: 5px 10px;
}

p {
  display: inline-block;
  width: 100px;
  line-height: 50px;
  text-align: center;
  height: 50px;
  background-color: yellowgreen;
}
