@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

    }

    body {
        background-color: rgb(22 20 26);
    }

.form-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255); 
    border-radius: 40px;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 5px 18px 0px rgba(251, 249, 249, 0.59);
    align-items: center;
    margin-bottom: 100px;
    
}



 .contact-inputs {
    width: 300px;
    height: 25px;
    padding: 7px;
    border: solid 1.5px;
    border-radius: 10px;
    border-color: rgb(71, 16, 181);
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.176);

  }




 #message {
    resize: none;
    border: solid 1.5px;
    border-radius: 10px;
    border-color: rgb(71, 16, 181);
    padding: 10px;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.176);

} 


.visually-hidden {
    display: none;
}




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 

    /* Detta är för att ta bort dragdown dekorationen i nummerfältet. Hittade via W3. */ 
}




.contact-inputs:focus {

  background-color: rgba(216, 216, 216, 0.4);
  border: solid 1.9px rgb(71, 16, 181);
  outline: none;

}

#message:focus {
  background-color: rgba(216, 216, 216, 0.4);
  border: solid 1.9px rgb(71, 16, 181);
  outline: none;

}

.contact-inputs:hover {
  background-color: rgba(216, 216, 216, 0.179);
}

#message:hover {
  background-color: rgba(216, 216, 216, 0.179);
}

button {
    background-color: rgba(137, 43, 226, 0.841);
    width: 300px;
    height: 50px;
    padding: 15px;
    border-radius: 10px;
    border: 0.5px solid black;
    box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    color: rgb(255, 255, 255);
  }
  
  button:hover {
    background-color: rgb(71, 16, 181);
    transition: 0.6s;
    
  } 

  .contact-container {
    background-color: rgb(22 20 26);
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    

  }

  .title {
    font-size: 50px;
    letter-spacing: 1.5px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    
  }

  .subheading {
    color: white;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    max-width: 700px;
    letter-spacing: 0.8px;
    
    
  }


  .line {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(116, 11, 116, 0), rgb(117, 54, 126), rgba(130, 0, 139, 0));
    margin-top: 120px;
    max-width: 1000px;
    margin: auto;
  
  }

