@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: rgb(22 20 26);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 50px;
  letter-spacing: 1.5px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

.subheading {
  color: white;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 0.8px;
  max-width: 600px;
}

.contactline {
  width: 340px;
  height: 6px;
  border: none;
  background-color: rgb(124, 6, 192);
}

.formcontainer {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.468);
}

.insideform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
}

.contact-input {
  width: 400px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 30px;
  padding-left: 15px;
  font-weight: 500;
}

.insideform textarea {
  height: 200px;
  width: 500px;
  padding: 18px 0px 0px 20px;
  border-radius: 20px;
  resize: none;
  font-size: 15px;
}

.contact-input:focus {
  box-shadow: 0px 0px 14px white;
}

.contact-input:hover {
  box-shadow: 0px 0px 14px white;
}

.insideform button {
  width: 250px;
  padding: 20px;
  border: 2px solid rgb(87, 33, 195);
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(87, 33, 195);
  color: white;
  box-shadow: 0px 0px 10px rgb(87, 33, 195);
  margin-top: 10px;
}

.insideform button:hover {
  background-color: rgb(56, 5, 158);
  border: 2px solid rgb(56, 5, 158);
  box-shadow: 0px 0px 10px rgb(36, 36, 36);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Detta är för att ta bort dragdown dekorationen i nummerfältet. Hittade via W3. */

@media (max-width: 876px) {
  .subheading {
    display: none;
  }

  .formcontainer {
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin-top: -20px;
  }

  .insideform textarea {
    width: 500px;
  }
}

@media (max-width: 645px) {
  .insideform textarea {
    width: 500px;
  }
}

@media (max-width: 519px) {
  .insideform textarea {
    width: 410px;
  }

  .contact-input {
    width: 300px;
  }

  .title {
    font-size: 45px;
  }

  .contactline {
    width: 310px;
  }
}

@media (max-width: 435px) {
  .contact-input {
    width: 280px;
  }

  .insideform textarea {
    width: 350px;
    height: 200px;
  }

  .title {
    font-size: 40px;
  }

  .contactline {
    width: 280px;
  }

  .insideform button {
    width: 180px;
    height: 50px;
    font-size: 15px;
    padding: 10px;
  }
}

@media (max-width: 366px) {
  .title {
    font-size: 32px;
  }

  .contactline {
    width: 225px;
  }

  .contact-input {
    width: 240px;
    font-size: 11px;
  }

  .insideform textarea {
    width: 300px;
    height: 170px;
    font-size: 12px;
  }

  .insideform button {
    width: 130px;
    padding: 10px;
    height: 40px;
    font-size: 12px;
  }
}

@media (max-width: 304px) {
  .title {
    font-size: 28px;
  }

  .contactline {
    width: 200px;
  }

  .contact-input {
    width: 220px;
    height: 35px;
  }

  .insideform textarea {
    width: 270px;
    height: 150px;
  }
}
