@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

    }

    body {
        background-color: rgb(45, 45,45);
    }

.form-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 500px;
    background-color: rgb(255, 255, 255); 
    border-radius: 50px;
    margin-left: 350px;
    margin-top: 100px;
    
}


