.header {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(46, 44, 49);
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(46, 44, 49);
}

.header-logo {
  width: 200px;
  border-radius: 15px;
  margin: 0;
}

.links-container {
  gap: 20px;
  width: 600px;
  height: max-content;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.links-container > a {
  position: relative;
  text-decoration: none;
  color: white;
}

.links-container > a::after {
  content: "";
  position: absolute;
  margin: 2px 0 0;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, red, blue);
  transition: width 0.3s ease;
}

.links-container > a:hover::after {
  width: 100%;
}