.header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
  }
  
  .header-logo {
    width: 100px;
    padding: 5px;
  }
  
  .links-container {
    gap: 20px;
    width: 600px;
    height: max-content;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
  }
  
  .links-container > a {
    position: relative;
    text-decoration: none;
    color: black;
  }
  
  .links-container > a::after {
    content: "";
    position: absolute;
    margin: 2px 0 0;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, red, blue);
    transition: width 0.3s ease;
  }
  
  .links-container > a:hover::after {
    width: 100%;
  }