@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(22 20 26);
}

/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.header {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(46, 44, 49);
}

.header-logo {
  width: 200px;
  border-radius: 15px;
  margin: 0;
}

.links-container {
  gap: 20px;
  min-width: 300px;
  height: max-content;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.links-container > a {
  position: relative;
  text-decoration: none;
  color: white;
}

.links-container > a::after {
  content: "";
  position: absolute;
  margin: 2px 0 0;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, red, blue);
  transition: width 0.3s ease;
}

.links-container > a:hover::after {
  width: 100%;
}

.content-section {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-text-container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px;
}

.headline {
  text-align: center;
  margin: 0 0 25px;
  font-size: 3rem;
  width: 65%;
  font-weight: bold;
  color: white;
}

.visi-text {
  text-align: center;
  font-size: 18px;
  width: 65%;
  letter-spacing: 0.8px;
  color: white;
}

.text {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.8px;
  color: white;
}

.section-img-container {
  display: flex;
  justify-content: center;
}

.getintouch-button-desktop > a {
  display: inline-block;
  /* display: none; */
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  border: 0.5px solid black;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(87, 33, 195);
  text-decoration: none;
  color: white;
  text-align: center;
}

.getintouch-button-desktop:hover > a {
  background-color: rgb(71, 16, 181);
  transition: 0.6s;
  color: white;
}

.laptop {
  width: 1000px;
  border-radius: 10px;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
}

.img-container {
  position: relative;
}

.img-headline {
  font-size: 50px;
  position: absolute;
  display: inline-block;
  width: max-content;
  text-align: center;
  color: white;
  top: 50px;
  letter-spacing: 1.5px;
  left: 200px;
}

.img-headline::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, red, blue);
}

.huge-font {
  font-size: 30px;
}

.mainline-under-button {
  display: none;
  border: 0;
  height: 2px;
  width: 1000px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255),
    rgba(0, 0, 0, 0)
  );
  margin: 0 0 75px;
}

.mainline {
  border: 0;
  height: 2px;
  max-width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255),
    rgba(0, 0, 0, 0)
  );
  margin: 0 0 75px auto;
}

.grid-element {
  position: relative;
  cursor: pointer;
  height: 400px;
  transition: 0.5s;
}

.grid-element:hover .grid-img {
  filter: blur(2px);
  transition: 0.5s;
}

.grid-element > .grid-text > h1::after {
  content: "";
  position: absolute;
  margin: 2px 0 0;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, red, blue);
  transition: width 0.3s ease;
}

.grid-element > .grid-text > h1:hover::after {
  width: 100%;
}

.grid-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(35, 35, 35);
  color: white;
  position: absolute;
  bottom: 0;
  height: 100px;
  text-align: center;
  & h1 {
    margin: 5px;
    position: relative;
    width: max-content;
  }
  & p {
    margin: 5px;
  }
}

.grid-outer-container {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 20px;
}

.background-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.176);
}

.grid-img {
  transform: scale(1.6);
  width: 400px;
  z-index: -1;
  transition: 0.5s;
}

.about-grid-container {
  width: 100%;
  color: white;
  background: rgb(46, 44, 49);
  padding: 0 15px;
}

.about-grid-container article {
  /* grid-column: 1 / -1; Sträka article till hela columns */
  font-size: 3.5rem;
  font-weight: bolder;
  text-align: center; /* Centrera text */
  margin: 20px 0 0;
}

.story-section,
.vision,
.tech-stack {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.tech-stack img {
  width: 50px;
  margin-right: 10px;
}

.visicraft-first-word {
  font-size: 25px;
  font-weight: bold;
  color: aquamarine;
}

footer {
  margin: 20px 0 0;
  color: white;
  height: 200px;
  border-top: 0.5px solid white;
  background-color: rgb(28, 39, 49);
}

.footer-links > a > img {
  width: 30px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 768px) {
  main {
    max-width: 768px;
  }
  .header {
    /* position: fixed; */
    background-color: rgb(30, 29, 32);
    height: 80px;
  }
  .links-container {
    display: none;
  }

  .header-logo {
    text-align: center;
  }

  .content-section {
    margin: 0;
    max-width: max-content;
  }

  .content-text-container {
    max-width: 500px;
    margin: 50px 0px;
  }
  .headline {
    font-size: 1.5rem;
  }

  .visi-text {
    display: none;
  }

  .laptop {
    display: none;
  }

  .text {
    font-size: 1.5rem;
  }
  header nav > a {
    font-size: 1rem;
  }
  .img-headline {
    display: none;
  }
  .mainline {
    display: none;
  }
  .mainline-under-button {
    max-width: 350px;
    display: block;
    margin: 50px 0 0;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .grid-outer-container {
    padding: 10px;
  }
  .grid-element {
    max-width: 300px;
  }
  .about-grid-container {
    display: none;
  }
}

@media (max-width: 450px) {
  main {
    max-width: 450px;
  }

  .content-text-container {
    max-width: 400px;
    min-height: 30vh;
    margin: 0;
  }
}

@media (max-width: 360px) {
  .headline {
    font-size: 1.5rem;
  }
  .visitext {
    display: none;
  }
}
