.description {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 500px;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checked {
  color: rgb(144, 0, 255);
  margin: 5px;
}

.rating {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.rating .text {
  color: white;
  font-weight: bold;
  margin-left: 5px;
}

.person {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.subject {
  padding: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.inside-text {
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 5px;
}

.name {
  color: rgba(255, 255, 255, 0.767);
  font-weight: bold;
  margin: 10px;
}

.line2 {
  width: 200px;
  height: 5px;
  background-color: rgb(184, 53, 255);
  margin: 20px auto;
  border: none;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 20px;
}

.box {
  flex: 0 0 48%;
  padding: 10px;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
  background-color: rgb(46, 44, 49);
  box-shadow: 0 1px 15px 0 rgba(46, 44, 49);
}

.stars .checked {
  color: rgb(236, 160, 18);
  margin-bottom: 20px;
}

.title {
  font-size: 50px;
  letter-spacing: 1.5px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;

}

.line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(116, 11, 116, 0), rgb(117, 54, 126), rgba(130, 0, 139, 0));
  margin-top: 120px;
  max-width: 1000px;
  margin: auto;

}