.description {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 600px;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checked {
  color: rgb(144, 0, 255);
  margin: 5px;
}

.rating {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.rating .text {
  color: white;
  font-weight: bold;
  margin-left: 5px;
  font-size: 2rem;
}

.person {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.subject {
  padding: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.inside-text {
  color: rgb(255, 255, 255);
  font-weight: 500; 
  padding: 25px;
  
}

.name {
  color: rgba(255, 255, 255, 0.767);
  font-weight: 800;
  margin: 5px;
}

.line2 { 

  border: 0;
  height: 7px;
  max-width: 210px;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(124, 6, 192);

}


.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  padding: 10px;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
  background-color: rgb(46, 44, 49);
  box-shadow: 0 1px 15px 0 rgba(46, 44, 49);
  max-width: 400px;
}

.stars .checked {
  color: rgb(236, 160, 18);
  margin: 8px;
  font-size: larger;
  
}

.title {
  font-size: 60px;
  letter-spacing: 1.5px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;

}

.line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(116, 11, 116, 0), rgb(255, 255, 255), rgba(130, 0, 139, 0));
  margin-top: 120px;
  max-width: 1000px;
  margin: auto;

}

@media only screen and (max-width: 600px) {


}