.description {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 600px;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checked {
  color: rgb(144, 0, 255);
  margin: 5px;
}

.rating {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.rating .text {
  color: white;
  font-weight: bold;
  margin-left: 5px;
  font-size: 2rem;
}

.person {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.subject {
  padding: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.inside-text {
  color: rgb(255, 255, 255);
  padding: 25px;
  letter-spacing: 0.8px;
  font-weight: 400;
  
}

.name {
  color: rgba(255, 255, 255, 0.767);
  font-weight: 800;
  margin: 5px;
}

.line2 { 

  border: 0;
  height: 7px;
  max-width: 210px;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(124, 6, 192);

}


.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.box {
  padding: 10px;
  text-align: center;
  margin: 10px;
  box-sizing: border-box;
  background-color: rgb(46, 44, 49);
  box-shadow: 0 1px 15px 0 rgba(46, 44, 49);
  max-width: 400px;
  border: 1px solid rgb(144, 0, 255);
  border-radius: 20px;
}

.stars .checked {
  color: rgb(236, 160, 18);
  margin: 8px;
  font-size: larger;
  
}

.title {
  font-size: 60px;
  letter-spacing: 1.5px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;

}

.line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(116, 11, 116, 0), rgb(255, 255, 255), rgba(130, 0, 139, 0));
  margin-top: 120px;
  max-width: 1000px;
  margin: auto;

}



.getting-started h2 {

  font-size: 50px;
  letter-spacing: 1.5px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;

}

.clickherebutton {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  border: 0.5px solid black;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.176);
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(87, 33, 195);
  text-decoration: none;
  color: white;


}

.clickherebutton:hover {
  background-color: rgb(56, 5, 158);
  box-shadow: 0px 0px 10px rgb(36, 36, 36);
  transition: 0.6s;
}

.entities {
  display: flex;
  justify-content: center;
  align-items: center;

}

.entities img {
  height: 300px;
}


@media (max-width: 837px) {
.box { 
  max-width: 80%;
  border-radius: 50px;
  margin: 20px;
}

.getting-started h2 {
  font-size: 45px;
}


}

@media (max-width: 700px) {

  .title {
    font-size: 50px;
  }

  .getting-started h2 {
    font-size: 40px;
  }
}

@media (max-width: 574px) {
  .title {
    font-size: 38px;
    margin-bottom: 30px;
  }

  .description {
    display: none;
  }

  .box {
    max-width: 90%;
    
  }



}


@media (max-width: 468px) {

  .getting-started h2 {
    font-size: 34px;
    margin-top: 100px;
  }

  .title {
    font-size: 34px;
  }

  .rating .text {
    font-size: smaller;
  }

  .rating .checked {
    font-size: smaller;
  }
}

@media (max-width: 381px) {
  .rating .text {
    font-size: 20px;
  }

  .getting-started h2 {
    font-size: 30px;
  }


  .inside-text {
    padding: 10px;

  }


  .title {
    font-size: 30px;
  }

}



@media (max-width: 330px) {


  .rating .text {
    font-size: 18px;
  }
  .rating .checked {
    font-size: 20px;
  }

  .title {
    font-size: 25px;
  }

  .inside-text {
    padding: 5px;
    font-weight: bold;
  }
}